<div class="full_page_photo">
  <div id="map"></div>
  <div class="container">
       <div class="hgroup">
            <div class="hgroup_title animated bounceInUp ">
                 <div class="container">
                    <h1>Contact us</h1>
                 </div>
            </div>
            <div class="hgroup_subtitle animated bounceInUp skincolored">
                 <div class="container">
                    <p>Call now <strong>1800 157 824</strong> or send us an  <a id="contact-email" href="mailto:#"><strong>email.</strong></a></p>
                 </div>
            </div>
       </div>
  </div>
</div>
