<footer>
 <section class="footer_teasers_wrapper dark_section">
      <div class="container triangles-of-section">
           <div class="triangle-up-left"></div>
           <div class="square-left"></div>
           <div class="triangle-up-right"></div>
           <div class="square-right"></div>
      </div>
      <div class="container">
           <div class="row">
                <div class="footer_teaser pl_about_us_widget col-sm-4 col-md-4">
                     <h3>Contact Details</h3>
                     
                     <p><i class="fa fa-phone"></i> 1800 157 824</p>
                     <p><i class="fa fa-envelope"></i> info@innerwestdamp.com.au</p>
                     <div class="footer_social">
                          <div class="social_wrapper">
                            <a href="https://www.facebook.com/plethorathemes"><i class="fa fa-facebook"></i></a> 
                            <a href="#googleplus"><i class="fa fa-google-plus"></i></a>
                          </div>
                     </div>
                </div>
                
                <div class="footer_teaser pl_flickr_widget col-sm-6 col-md-6" id="latest-flickr-images">
                     <h3>Our Latest Work</h3>
                     <ul></ul>
                </div>
           </div>
      </div>
 </section>
 <div class="copyright">
      <div class="container">
           <div class="row">
                <div class="col-sm-4 col-md-4"></div>
                <div class="col-sm-4 col-md-4"></div>
                <div class="text-right col-sm-4 col-md-4">Designed by <a href="http://davewood.me">DD-Designs</a> </div>
           </div>
      </div>
 </div>
</footer>
