<header class="header">
  <div class="container">
       <div class="logo"><a class="brand" href="index.html"> <img src="images/cleanstart_logo.png" alt="optional logo"> <span class="logo_title">Cleanstart</span></a></div>
       <div id="mainmenu" class="menu_container">
            <label class="mobile_collapser">MENU</label>
            <!-- Mobile menu title -->
            <ul>
                 <li class="active"><a href="index.html">Home</a></li>
                 <li><a href="about_us.html">About Us</a></li>
                 <li><a href="services.html">Services</a></li>
                 <li><a href="portfolio.html">Portfolio</a></li>
                 <li><a href="blog.html">Blog</a></li>
                 <li><a href="contact.html">Contact</a></li>
                 <li><a href="#">Features</a>
                      <div class="dmui_dropdown_block full_width" style="background-image: url(images/mega_menu_background.png); background-repeat:no-repeat; background-position:right;">
                           <div class="dmui-container">
                                <div class="dmui-col span3">
                                     <div class="dmui-container">
                                          <ul class="dmui-submenu">
                                               <li><a href="home_alternative.html">Home Alternative</a></li>
                                               <li><a href="page_alternative.html">Page Alternative</a></li>
                                               <li><a href="gallery.html">Portfolio Masonry</a></li>
                                               <li><a href="portfolio_item.html">Portfolio Item</a></li>
                                               <li><a href="portfolio_item_2.html">Portfolio Item II</a></li>
                                          </ul>
                                     </div>
                                </div>
                                <div class="dmui-col span3">
                                     <div class="dmui-container">
                                          <ul class="dmui-submenu">
                                               <li><a href="single_post.html">Single Post</a></li>
                                               <li><a href="404.html">ERROR 404</a></li>
                                               <li><a href="register.html">Register or Sign in</a></li>
                                               <li><a href="elements.html">Design  Elements</a></li>
                                               <li><a href="documentation/index.html">Documentation <span class="label label-danger">new</span></a></li>
                                          </ul>
                                     </div>
                                </div>
                           </div>
                      </div>
                 </li>
            </ul>
       </div>
       <div class="triangle-up-left"></div>
       <div class="triangle-up-right"></div>
  </div>
</header>
