<header class="header">
  <div class="container">
       <div class="logo">
        <a class="brand" href="/">
          <img src="/images/cleanstart_logo.png" alt="optional logo">
        <span class="logo_title">Inner West <span id="logo-damp">Damp</span></span></a>
      </div>
       <div id="mainmenu" class="menu_container">
            <label class="mobile_collapser">MENU</label>
            <!-- Mobile menu title -->
            <ul class="top_menu">
                 <li><a href="/">Home</a></li>
                 <li><a href="/services">Our Services</a></li>
                 <li><a href="/about">About Us</a></li>
                 <li><a href="/reviews">Reviews</a></li>
                 <li><a href="/contact">Contact</a></li>
            </ul>
       </div>
       <div class="triangle-up-left"></div>
       <div class="triangle-up-right"></div>
  </div>
</header>
