<section id="slider_wrapper" class="slider_wrapper full_page_photo">
  <div id="main_flexslider" class="flexslider">
       <ul class="slides">
            <li class="item" style="background-image: url(/images/slider_damp_wall_1.jpg)">
                 <div class="container">
                      <div class="carousel-caption animated bounceInUp">
                           <h1><strong> Mouldy</strong> Walls?<br>
                                </h1>
                          <p class="lead skincolored"> You probably have a damp problem! We have a range of damp solutions to  fix<br>
                            even the most stubborn damp problems.
                          </p>
                      </div>
                 </div>
            </li>
            <li class="item" style="background-image: url(/images/slider_flaking_paint_2.jpg)">
                 <div class="container">
                      <div class="carousel-caption animated bounceInUp">
                           <h1>Flaking and <strong>Peeling</strong> Paint?</h1>
                           <p class="lead skincolored"> It is likely to be caused by damp. <br>
                            You should talk to us about the range of damp solutions we have.</p>
                      </div>
                 </div>
            </li>
       </ul>
  </div>
</section>
